.card{
    width: 100%;
    height: 485px;
  border: 4px solid rgba(128, 128, 128, 0.367);
  border-radius: 12px;
  color: black;
  background-color:rgb(248 250 252);}
.link{
    text-decoration: none;
}
.card:hover{
    border: 4px solid #800080c9;

}
.postbg{
    background-color:white;
}
.card{
    text-decoration: none;

}
.date{
    text-align: end;
}
.card-img-top{
    border-radius: 8px;
}
.postbg{
    padding:5rem 3rem 0rem 2rem  ;
}
