body {
  font-size: 1.1rem;

  margin: 0;
  font-family:  Sen,'ui-sans-serif','Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Sen,sans-serif;
  font-size: 1.1rem;
    line-height: 1.75rem;
}
